<%-include('../partials/header.html')%>
    <link rel="stylesheet" href="../../css/admin.css">
    <title>Admin Home</title>
    </head>

    <body>

        <%-include('partials/navbar.html')%>
        <div class="container-fluid">
            <div class="row">
                <%-include('partials/sidebar.html')%>
                <div class="col-md-10 report">
                    <p class="display-2">Quick Inventory</p>
                    <div class="alert alert-primary" role="alert">
                        Total Books: <span style="float: right;">10</span>
                    </div>
                    <div class="alert alert-primary" role="alert">
                        Total Members: <span style="float: right;">10</span>
                    </div>
                    <div class="alert alert-primary" role="alert">
                        Total Price of books: <span style="float: right;">10</span>
                    </div>
                    <div class="alert alert-primary" role="alert">
                        Total books rented: <span style="float: right;">10</span>
                    </div>
                    <div class="alert alert-primary" role="alert">
                        Total books borrowed: <span style="float: right;">10</span>
                    </div>
                    <div class="alert alert-primary" role="alert">
                        Total Revenue: <span style="float: right;">10</span>
                    </div>
                </div>
            </div>
        </div>

        <%-include('../partials/footer.html')%>
