<div class="col-md-2 sidebar bg-dark">
    <p class="">
        <a href="/admin/home">
            <i class="fas fa-home"></i>
            Home
        </a>
    </p>
    <hr>
    <p class="text-primary">
        <a href="/admin/profile">
            <i class="fas fa-user"></i>
            Profile
        </a>
    </p>
    <hr>
    <p class="">
        <a href="/admin/customers">
            <i class="fas fa-users"></i>
            Customers
        </a>
    </p>
    <hr>
    <p class="">
        <a href="/admin/books">
            <i class="fas fa-book"></i>
            Books
        </a>
    </p>
</div>
